scipy
matplotlib
numpy==1.18.1
pandas
seaborn
plotly
lmfit
imageio
tabulate
scikit-learn
gsheetsdb
youtube_transcript_api
yfinance
patsy
statsmodels
latex
openpyxl
openai
folium
streamlit_folium
opencv-python-headless==4.5.4.60
streamlit==1.2.0
streamlit-webrtc==0.35.1
